/* styles/HeaderOwner.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 700;
  color: #333;
}

.navButton:hover {
  background-color: #efefef;
  border-radius: 4px;
  color: #ff8138;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions a {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.actions a:hover {
  background-color: #e2e6ea;
}

.actions a img {
  height: 25px;
  width: 25px;
}
